body {
    font-family: 'Arial', sans-serif;
    color: #e0e0e0; /* Light gray for easy readability on dark */
    background-color: #121212; /* Almost black background */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #f5f5f5; /* Slightly lighter than regular text for emphasis */
    margin-top: 0;
}

.complementary {
    color: #30c9c9; /* Teal */
}

a {
    color: #30c9c9; /* Teal */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #248787; /* Darker teal for hover */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b; /* Slightly lighter than background */
    padding: 10px 20px;
}

.navbar a {
    margin-left: 20px; /* Spacing between navigation items */
}

.button {
    background-color: #30c9c9; /* Teal */
    color: #121212; /* Almost black for text */
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #248787; /* Darker teal for hover */
    color: #f5f5f5;
}

.footer {
    background-color: #1b1b1b; /* Slightly lighter than background */
    padding: 20px 0;
    text-align: center;
}

